@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

:root {
  --fonte01: 'Oswald', sans-serif;
  --fonte02: 'Edu TAS Beginner', cursive;
}

* {
  margin: 0px;
  padding: 0px;
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

header h1 {
  font-family: var(--fonte01);
  font-size: 8vh;
  padding-top: 50px;
  font-variant: small-caps;
}

header p {
  padding-bottom: 50px;
}

header a, footer a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

header a:hover, footer a:hover {
  text-decoration: underline;
}

p  {
  padding: 20px;
}

section {
  font-family: var(--fonte02);
  font-size: 4vh;
  line-height: 1.6;
  padding: 10px;
}

section.normal {
  margin-top: 12vh;
  margin-bottom: 12vh;
}

section.imagem {
  background-color: rgba(0, 0, 0, 0.51);
  padding: 10px;

  background-size: cover;
  background-attachment: fixed;
  background-position: left bottom;
}

section.imagem p {
  background-color: rgba(0, 0, 0, 0.493);
  width: 55vw;
  color: white;
  padding: 10px;
}

section#img01 {
  background-image: url(../imagens/background001.jpg);
  background-position: right;
}

section#img02 {
  background-image: url(../imagens/background002.jpg);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}