@charset "UFT-8";

* {
  margin: 0px;
  padding: 0px;
}

body, html {
  background-color: white;
  height: 100vh;
}

nav {
  background-color: black;
  color: white;
  text-align: center;
}

nav h1 {
  font-size: 6vh;
  padding-top: 50px;
  font-variant: small-caps;
}

nav p {
  padding-bottom: 50px;
}

nav a, footer a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

nav a:hover, footer a:hover {
  text-decoration: underline;
}

p  {
  padding: 20px;
}

section {
  font-size: 4vh;
  line-height: 1.6;
  padding: 10px;
}

section.normal {
  margin-top: 12vh;
  margin-bottom: 12vh;
}

section.imagem {
  background-color: rgba(0, 0, 0, 0.51);
  padding: 10px;

  background-size: cover;
  background-attachment: fixed;
  background-position: left bottom;
}

section.imagem p {
  background-color: rgba(0, 0, 0, 0.493);
  width: 55vw;
  color: white;
  padding: 10px;
}

section#img01 {
  background-image: url(../imagens/background001.jpg);
  background-position: right;
}

section#img02 {
  background-image: url(../imagens/background002.jpg);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}